@import "../../styles/styles.scss";

.video {
    /* Video Block */
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    height: 57vw; //20vh
    background-color: black;
    &__player {
        /* Video Block - Player Element */
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include tablet {
            width: 90%;
        }
        @include desktop {
            width: 65%;
        }
    }
    &__controls {
        /* Video Block - Controls Element */
        position: absolute;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 40px;
        bottom: 8px;
        @include tablet {
            width: 90%;
        }
        @include desktop {
            width: 65%;
        }
    }
    &__play-container {
        /* Video Block - Play Button Container Element */
        background-color: rgba(50,50,50,0.7);
        border-radius: 4px;
        width: 60px;
        height: 38px;
        margin-left: 10px;
    }
    &__play-icon {
        /* Video Block - Play Button Icon Element */
        height: 24px;
        width: 24px;
        margin-top: 7px;
        margin-left: 20px;
    }
    &__loader-container {
        /* Video Block - Loader Container Element */
        display: flex;
        background-color: rgba(50,50,50,0.7);
        border-radius: 4px;
        width: 40%;
        height: 38px;
        margin-left: 8px;
        margin-right: 8px;
        @include mob-tab-int {
            width: 63%
        }
        @include tablet {
            width: 70%
        }
        @include tablet {
            width: 78%
        }
    }
    &__loader {
        /* Video Block - Loader Element */
        background-color: black;
        width: 75%;
        height: 4px;
        margin-top: 16px;
        margin-left: 4.75vw;
        @include mob-tab-int {
            width: 76%;
            margin-left: 2vw;
        }
        @include tablet {
            width: 100%;
            margin-left: 1vw;
        }
        @include desktop {
            width: 120%;
            margin-left: 1vw;
        }
        @include desktop-14 {
            width: 155%;
        }
    }
    &__loader-time {
        /* Video Block - Loader Time Element */
        display: none;
        @include mob-tab-int {
            display: flex;
            justify-content: flex-end;
            color: $color-text-offset;
            @include mobile-h4-list-contact;
            width: 20%;
            padding-top: 10px;
            padding-right: 4px;
        }
        @include tablet {
            width: 20%;
            padding-right: 20px;
        }
    }
    &__loader-lapsed, __loader-time-divider, __loader-duration {
        /* Video Block - Loader Lapsed, Loader Time Divider */
        /*               and Loader Duration Elements */
        color: $color-text-offset;
        @include mobile-h4-list-contact;    
    }
    &__fullscreen-volume-container {
        /* Video Block - Fullscreen/Volume Container Element */
        background-color: rgba(50,50,50,0.7);
        border-radius: 4px;
        width: 85px;
        height: 38px;
        margin-right: 10px;
    }
    &__fullscreen-icon {
        /* Video Block - Fullscreen Icon Element */
        height: 20px;
        width: 20px;
        margin-top: 9px;
        margin-left: 17px;
    }
    &__volume-icon {
        /* Video Block - Volume Icon Element */
        height: 20px;
        width: 20px;
        margin-left: 12px;
    }
}