@import "../../styles/styles.scss";

.comment {
    /* Comment Block */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2vh;
    border-bottom: 2px solid $color-divider;
    @include desktop {
        padding: 0;
    }
    &__image {
        /* Comment Block - Image Container Element */
        display: flex;
        flex-direction: column;
        width: 45px;
        height: 45px;
        margin-top: .5vh;
    }
    &-image {
        /* Comment Block - Comment Image Element */
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-left: 1px;
        padding-left: 1px;
        background-color: $color-text-label-style;
    }
    &__detail {
        /* Comment Block - Detail Element */
        display:flex;
        flex-direction: column;
        width: 82%;
        padding-left: 5%;
        @include tablet {
            width: 86%;
        }
        @include desktop {
            width: 90%;
        }
    }
    &__header {
        /* Comment Block - Header Element */
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: .75vh;
        &-name {
            /* Comment Block - Header Name Element */
            @include mobile-h4-list-contact(600);
            width: 60%;
            @include tablet {
                width: fit-content;
            }
        }
        &-ts {
            /* Comment Block - Header TS (Time Stamp) Element */
            @include mobile-h4-list-contact(400);
            font-size: 12px;
            width: 40%;
            color: $color-text-label-style;
            margin-right: -64px;
            @include tablet {
                @include mobile-h4-list-contact(400);
                width: fit-content;
                padding-left: 2%;
            }
        }
    }
    &__comments {
        /* Comment Block - Comments Element */
        position: relative;
        width: 100%;
        @include mobile-h4-list-contact(400);
        &-text {
            /* Comment Block - Comments Text Element */
            width: 72vw;
            @include padding-tb(3%, 7%);
            @include tablet {
                @include padding-tb(1%, 4%);
                width: 83vw;
            }
            @include desktop {
                width: 40vw;
            }
        }
    }
}
