@import "../../styles/styles.scss";

.newcomment {
    /* New Comment Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    @include tablet {
        @include padding-lr(3.125%, 3.125%);
    }
    @include desktop {
        @include padding-lr(22.5%, 0);
    }
    &__title {
        /* New Comment Block - Title */
        @include mobile-h4-list-contact(600);
        color: $color-paragraph-text;
        width: 100%;        
        @include padding-tb(3vh, 2vh);
        @include tablet {
            @include mobile-p;
            @include padding-tb(3vh, 2.5vh);
        }
    }
    &__form {
        /* New Comment Block - Form Element */
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: 2px solid $color-divider;
        &-image {
            /* New Comment Block - Form Image Element */
            display: flex;
            width: 45px;
            height: 45px;
            margin-top: 22px;
            margin-bottom: 1%;
        }
        &-main {
            /* New Comment Block - Form Main Element */
            display: flex;
            flex-direction: column;
            width: 84%;
            @include tablet {
                flex-direction: row;
            }
            @include desktop {
                width: 90%;
            }
            &-left {
                /* New Comment Block - Form Left Container Element */
                display: flex;
                flex-direction: column;
                width: 50vw;
                @include desktop {
                    width: 70%;
                }
            }
            &-right {
                /* New Comment Block - Form Right Container Element */
                display: flex;
                flex-direction: column;
                width: 50vw;
                @include desktop {
                    width: 20vw;
                }
            }
        }
        &-label {
            /* New Comment Block - Form Label Element */
            @include mobile-h5-label($color-text-label-style);
            width: 70vw;
            padding-left: 6%;
            &-comment {
                @extend .newcomment__form-label;
                padding-left: 6%;
                margin-left: 4%;
                @include tablet {
                    padding-left: 0;
                    margin-left: 3%;
                }
            }
        }
        &-textarea {
            /* New Comment Block - Form Textarea Element */
            font-family: $font-family;
            height: 110px;
            width: 71vw;
            border: 1px solid $color-text-label-style;
            border-radius: 4px;
            margin-left: 10%;
            margin-bottom: 2vh;
            padding-left: 9%;
            padding-top: 15px;
            outline: none;
            background-color: $color-text-field-bg-fill;
            &:focus {
                border: 2px solid $color-primary-cta;
            }
            &::placeholder {
                color: $color-form-input-focus;
            }
            @include tablet {
                height: 48px;
                width: 440px;
                margin-left: 3%;
                padding-left: 4%;
            }
            @include desktop {
                width: 97%;
                padding-top: 17px;
            }
        }
        &-button {
            /* New Comment Block - Button Element */
            color: $color-text-offset;
            background-color: $color-primary-cta;
            align-self: flex-start;
            height: 49px;
            width: 227px;
            margin-left: 10%;
            margin-bottom: 2.75vh;
            border: none;
            border-radius: 4px;
            &:hover {
                background-color: $color-primary-cta-hover;
            }
            &:disabled {
                color: $color-text-label-style;
            }
            @include tablet {
                width: 160px;
                height: 48px;
                margin-left: 82px;
                margin-top: 20px;
            }
            @include desktop {
                margin-left: 18px;
            }
        }
    }
    &__image {
        /* New Comment Block - Image Element */
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-bottom: 1%;
        background-color: $color-text-label-style;
    }
}
