@import "./styles/styles.scss";

.main {
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }
    &-left {
        width: 100%;
        @include desktop {
            width: 60vw;
        }
    }
    &-right {
        width: 100%;
        @include desktop {
            width: 40vw;
            border-left: 1px solid $color-divider;
        }
    }
}
