@import "../../partials/common";

.videodesc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    font-family: $font-family;
    // @include tablet {
    //     @include padding-lr(3.125%, 3.125%);
    // }
    // @include desktop {
    //     @include padding-lr(12.5vw, 12.5vw);
    // }
    &__common {
        color: $color-paragraph-text;
        width: 100%;
    }
    &__title {
        @include mobile-h1;
        @extend .videodesc__common;
        @include padding-tb(3vh, 2vh);
        // @include tablet {
        //     @include tablap-h1;
        //     @include padding-tb(5vh, 3.5vh);
        //     }
        // @include desktop {
        //     @include padding-tb(3.5vh, 3.5vh);
        // }
    }
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        &--left {
            // align-self: left;
            flex-direction: row;
            width: 100%;
            padding-bottom: 2vh;
		}
		&--right {
            // align-self: left;
            flex-direction: row;
            width: 100%;
            padding-bottom: 2vh;
		}
    }
    &__author {
        @include mobile-h4-list-contact(600);
        @extend .videodesc__common;
        width: fit-content;
        padding-right: 2vw;
    }
    &__date {
        @include mobile-h4-list-contact(400);
        color: $color-text-label-style;
        width: fit-content;
    }
    &__view-count {
        @include mobile-h4-list-contact;
        @extend .videodesc__common;
        @include padding-lr(2vw, 5vw);
        width: fit-content;
    }
    &__like-count {
        @include mobile-h4-list-contact;
        @extend .videodesc__common;
        padding-left: 2vw;
        width: fit-content;
    }
}

.videodesc-details {
    /* Videodesc Details Block */
    @include flex-center;
    flex-direction: column;
    padding-top: 1vh;
    // padding-left: 2%;
    // padding-right: 2%;
    // @include tablet {
    //     flex-direction: row;
    //     @include padding-lr(3.125%, 3.125%);
    // }
    // @include desktop {
    //     @include padding-lr(20.4vw, 20.4vw);
    // }
    &__common {
        /* Videodesc Details Block - Common Element */
        color: $color-paragraph-text;
        width: 100%;        
    }
    &__paragraph {
        /* Videodesc Details Block - Paragraph Element */
        @include mobile-h5-label;
        @include mobile-h4-list-contact;
        //@extend .videodesc-details__common;
        padding-top: 1vh;    
        // @include tablet {
        //     @include tablap-p-comments;
        //     padding-top: 2vh;
        //     padding-bottom: 5vh;
        // }
        // @include desktop {
        //     padding-top: 1.5vh;
        //     padding-bottom: 3.5vh;
        // }
    }
}