@import "../../styles/styles.scss";

.sidevideo {
    /* Side Video (Detail) Block */
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
    padding-bottom: 20px;
    @include tablet {
        @include padding-lr(0, 0);
        padding-bottom: 6px;
    }
    @include desktop {
        padding-left: 14px;
        padding-bottom: 10px;
    }
    &__routerlink {
        color: $color-paragraph-text;
        text-decoration: none; 
    }
    &__image {
        /* Side Video (Detail) Block - Image Container Element */
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 70px;
        margin-top: .5vh;
        @include tablet {
            width: 100px;
            height: 60px;
            margin-bottom: 1.5%;
        }
        @include desktop {
            width: 102px;
            height: 60px;
        }
    }
    &-image {
        /* Side Video (Detail) Block - Image Element */
        width: 100%;
        height: 100%;
        margin-left: 1px;
        padding-left: 1px;
        object-fit: cover;
        border-radius: 4px;
        background-color: $color-text-label-style;
    }
    &__detail {
        /* Side Video (Detail) Block - Detail Element */
        display:flex;
        flex-direction: column;
        width: 82%;
        padding-left: 5%;
        @include tablet {
            padding-left: 2%;
        }
        @include desktop {
            width: 76%;
        }
    }
    &__title {
        /* Side Video (Detail) Block - Title Element */
        display: flex;
        flex-direction: row;
        width: 164px;
        padding-top: .75vh;
        &-text {
            /* Side Video (Detail) Block - Title Text Element */
            @include mobile-h4-list-contact(600);
            width: 100%;
        }
    }
    &__channel {
        /* Side Video (Detail) Block - Channel Element */
        position: relative;
        @include mobile-h5-label;
        width: 100%;
        &-text {
            /* Side Video (Detail) Block - Channel Text Element */
            width: 160px;
            @include padding-tb(3%, 3%);
            @include tablet {
                @include padding-tb(3px, 0);
            }
        }
    }
}
