@import "../../partials/common";

.comment {
    /* Comment Block */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include padding-lr(5%, 5%);
    font-family: $font-family;
    &__image {
        /* Comment Block - Image Element */
        display: flex;
        flex-direction: column;
        width: 45px;
        height: 45px;
        margin-top: .5vh;
    }
    &-image {
        /* Comment Block - Comment Image */
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-left: 1px;
        padding-left: 1px;
        background-color: $color-text-label-style;
    }
    &__detail {
        /* Comment Block - Detail Element */
        display:flex;
        flex-direction: column;
        width: 82%;
        padding-left: 5%;
    }
    &__header {
        /* Comment Block - Header Element */
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: .75vh;
        &-name {
            /* Comment Block - Header Name Element */
            @include mobile-h4-list-contact(600);
            width: 70%;
            // @include tablet {
            //     width: fit-content;
            // }
        }
        &-ts {
            /* Comment Block - Header TS (Time Stamp) Element */
            @include mobile-h4-list-contact(400);
            width: 60%;
            color: $color-text-label-style;
            text-align: right;
            // @include tablet {
            //     width: fit-content;
            //     padding-left: 2%;
            // }
        }
    }
    &__comments {
        /* Comment Block - Comments Element */
        position: relative;
        @include mobile-h4-list-contact(400);
        width: 100%;
        &-text {
            width: 100%;
            @include padding-tb(3%, 3%);
            // &::before{
            //     content: attr(del-tooltip);
            //     display:none;
            //     top: -1vw;
            //     font-size: 9px;
            //     color: white;
            //     border-radius:4px;
            //     background: rgba(0, 0, 0, 0.5);
            //     width: 66px;
            //     @include tablet {
            //         width: 72px;
            //         top: -.65vw;
            //         font-size: 10px;
            //         }
            //     @include desktop {
            //         top: -.25vw;
            //     }
            // }
            // &:hover::before {
            //     position:absolute;
            //     display: block;
            // }
        }
    }
    &__divider {
        /* Comment Block - Divider Element */
        border-top: 1px solid $color-divider;
        width: 90%;
        margin-top: 1.5vh;
        margin-bottom: 2.25vh;
        margin-left: 4vw;
        // @include tablet {
        //     width: 68vw;
        // }
        // @include desktop {
        //     width: 37vw;
        //     margin-left: 0;
        //     margin-right: 0;
        // }
    }
}
