@import "../../partials/common";

.newcomment {
    /* Comments Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    font-family: $font-family;
    // @include padding-lr(5%, 5%);
    &__title {
        /* Comments Block - Title Element */
        @include mobile-h4-list-contact(600);
        color: $color-paragraph-text;
        width: 100%;        
        @include padding-tb(3vh, 2vh);
        // @include tablet {
        //     @include tablap-h1;
        //     @include padding-tb(5vh, 5vh);
        //     width: 104%;
        //     }
        // @include desktop {
        //     @include padding-tb(4vh, 5vh);
        //     width: 80%;
        // }
    }
    &__form {
        /* Comments Block - Form Element */
        display: flex;
        flex-direction: row;
        width: 100%;
        // @include tablet {
        //     width: 88%;
        //     padding-left: 7%;
        // }
        // @include desktop {
        //     width: 52%;
        // }
        &-image {
            /* Comments Block - Form Image Element */
            display: flex;
            width: 45px;
            height: 45px;
            margin-top: 4.25vh;    
        }
        &-main {
            /* Comments Block - Form Main Element */
            display: flex;
            flex-direction: column;
            width: 84%;
        }
        &-label {
            /* Comments Block - Form Label Element */
            @include mobile-h5-label($color-text-label-style);
            padding-left: 6%;
            // @include tablet {
            //     padding-left: 4%;
            // }
            &--comment {
                @extend .newcomment__form-label;
                padding-top: 2vh;
                padding-left: 6%;
                // @include tablet {
                //     padding-left: 4%;
                // }
            }
        }
        &-textarea {
            /* Comments Block - Form Textarea Element */
            font-family: $font-family;
            height: 110px;
            width: 71vw;
            border: 1px solid $color-text-label-style;
            border-radius: 4px;
            margin-left: 6%;
            margin-bottom: 2vh;
            padding-left: 6%;
            padding-top: 2.25vh;
            outline: none;
            background-color: $color-text-field-bg-fill;
            &:focus {
                border: 2px solid $color-form-input-focus;
            }
            &::placeholder {
                color: $color-form-input-focus;
            }
            // @include tablet {
            //     width: 96%;
            //     margin-left: 4%;
            // }
            // @include desktop {
            //     padding-left: 3%;
            // }
        }
        &-button {
            /* Comments Block - Form Button Element */
            color: $color-text-offset;
            background-color: $color-primary-cta;
            align-self: flex-end;
            height: 49px;
            width: 227px;
            margin-left: 10%;
            margin-bottom: 2.25vh;
            border: none;
            border-radius: 4px;
            &:hover {
                background-color: $color-primary-cta-hover;
            }
            // @include tablet {
            //     width: 170px;
            //     height: 52px;
            // }
        }
    }
    &-image {
        /* Comment Block - Comment Image */
        width: 100%;
        height: 100%;
        border-radius: 50%; 
        background-color: $color-text-label-style;
    }
    // &__history {
    //     /* Comments Block - History Element */
    //     width: 90vw;
    //     @include tablet {
    //         width: 68vw;
    //     }
    //     @include desktop {
    //         width: 46vw;
    //         padding-left: 6vw;
    //     }
    // }
}
