@import "../../styles/styles.scss";

.newcomment {
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    @include tablet {
        @include padding-lr(3.125%, 3.125%);
    }
    @include desktop {
        @include padding-lr(22.5%, 0);
    }
    &__title {
        @include mobile-h4-list-contact(600);
        color: $color-paragraph-text;
        width: 100%;        
        @include padding-tb(3vh, 2vh);
        @include tablet {
            @include mobile-p;
            @include padding-tb(2vh, 2.5vh);
        }
    }
    &__form {
        /* Comments Block - Form Element */
        display: flex;
        flex-direction: row;
        width: 100%;
        &-image {
            /* Comments Block - Form Image Element */
            display: flex;
            width: 45px;
            height: 45px;
            margin-top: 2.25vh;    
        }
        &-main {
            /* Comments Block - Form Main Element */
            display: flex;
            flex-direction: column;
            width: 84%;
            @include tablet {
                flex-direction: row;
            }
            @include desktop {
                width: 90%;
            }
            &--left {
                display: flex;
                flex-direction: column;
                width: 50vw;
                @include desktop {
                    width: 100%;
                }
            }
            &--right {
                display: flex;
                flex-direction: column;
                width: 50vw;
                @include desktop {
                     width: 20vw;
                }
            }
        }
        &-label {
            /* Comments Block - Form Label Element */
            @include mobile-h5-label($color-text-label-style);
            padding-left: 6%;
            &--comment {
                @extend .newcomment__form-label;
                padding-left: 6%;
                @include tablet {
                    padding-left: 3%;
                }
            }
        }
        &-textarea {
            /* Comments Block - Form Textarea Element */
            font-family: $font-family;
            height: 110px;
            width: 71vw;
            border: 1px solid $color-text-label-style;
            border-radius: 4px;
            margin-left: 6%;
            margin-bottom: 2vh;
            padding-left: 6%;
            padding-top: 2.25vh;
            outline: none;
            background-color: $color-text-field-bg-fill;
            &:focus {
                border: 2px solid $color-form-input-focus;
            }
            &::placeholder {
                color: $color-form-input-focus;
            }
            @include tablet {
                height: 48px;
                width: 440px;
                margin-left: 3%;
                padding-top: 1vh;
                padding-left: 3%;
            }
            @include desktop {
                width: 98%;
            }
        }
        &-button {
            color: $color-text-offset;
            background-color: $color-primary-cta;
            align-self: flex-start;
            height: 49px;
            width: 227px;
            margin-left: 6%;
            margin-bottom: 1.25vh;
            border: none;
            border-radius: 4px;
            &:hover {
                background-color: $color-primary-cta-hover;
            }
            @include tablet {
                width: 160px;
                height: 48px;
                margin-left: 82px;
                margin-top: 20px;
            }
            @include desktop {
                margin-left: 18px;
            }
        }
    }
    &-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $color-text-label-style;
    }
}
