@import "../../styles/styles.scss";

.sidevideo {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    @include padding-lr(14px, 14px);
    padding-bottom: 14px;
    &__image {
        display: flex;
        flex-direction: column;
        width: 110px;
        height: 60px;
        margin-top: .5vh;
    }
    &-image {
        width: 100%;
        height: 100%;
        margin-left: 1px;
        padding-left: 1px;
        background-color: $color-text-label-style;
    }
    &__detail {
        display:flex;
        flex-direction: column;
        width: 82%;
        padding-left: 5%;
    }
    &__title {
        display: flex;
        flex-direction: row;
        width: 160px;
        padding-top: .75vh;
        &-text {
            @include mobile-h4-list-contact(600);
            width: 98%;
        }
    }
    &__channel {
        position: relative;
        @include mobile-h4-list-contact(400);
        width: 100%;
        &-text {
            width: 160px;
            @include padding-tb(3%, 3%);
        }
    }
}
