@import "../../styles/styles.scss";

.sidevideolist {
    /* Side Video List Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    font-family: $font-family;
    @include tablet {
        @include padding-lr(3.125%, 3.125%);
    }
    @include desktop {
        padding: 0;
    }
    &-title {
        /* Side Video List Block - Title Element */
        @include mobile-h5-label($color-text-label-style);
        font-weight: 600;
        width: 100%;        
        @include padding-tb(2vh, 3vh);
        @include tablet {
            @include padding-tb(2vh, 3vh);
            padding-left: 0;
        }
        @include desktop {
            padding-left: 14px;
            padding-top: 3.5vh;
        }
    }
}