@import "../../styles/styles.scss";

.comments {
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    &__history {
        width: 90vw;
        @include desktop {
            @include padding-lr(22.5%, 16.5%);
            width: 70vw;
        }
    }
}
