@import "../../styles/styles.scss";

.main {
    /* Main Block */
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }
    &__left {
        /* Main Block  - Left Container Element */
        width: 100%;
        @include desktop {
            width: 60vw;
        }
    }
    &__right {
        /* Main Block - Right Container Element */
        width: 100%;
        @include desktop {
            width: 40vw;
            border-left: 1px solid $color-divider;
        }
    }
}