@import "../../partials/common";

.video {
    position: relative;
    display: flex;
    width: 100%;
    &-player {
        width: 100%;
    }
    &-controls {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 98%;
        height: 20px;
        bottom: 5px;
        left: 8px;
    }
    &-play-container {
        background-color: rgba(50,50,50,0.7);
        width: 26px;
        height: 18px;
    }
    &-play-icon {
        height: 10px;
        width: 10px;
        margin-left: 9px;
    }
    &-loader-container {
        background-color: rgba(50,50,50,0.7);
        width: 160px;
        height: 18px;
    }
    &-loader {
        background-color: black;
        width: 140px;
        height: 2px;
        margin-top: 8px;
        margin-left: 10px;
    }
    &-fullscreen-volume-container {
        background-color: rgba(50,50,50,0.7);
        width: 44px;
        height: 18px;
        margin-right: 10px;
    }
    &-fullscreen-icon {
        height: 10px;
        width: 10px;
        margin-left: 6px;
    }
    &-volume-icon {
        height: 10px;
        width: 10px;
        margin-left: 12px;
    }
}
