@import "../../styles/styles.scss";

.comments {
    /* Comments Block */
    @include flex-center;
    flex-direction: column;
    @include padding-lr(5%, 5%);
    @include tablet {
        @include padding-lr(3.125%, 3.125%);
    }
    @include desktop {
        @include padding-lr(22.5%, 0);
    }
    &__history {
        /* Comments Block - History Element */
        width: 100%;
    }
}
